{% extends 'base.html.twig' %}

{% block title %}Les catégories{% endblock %}

{% block body %}
    <div class="index">
        <h1>Categories</h1>
        <a class="hollow button primary" href="{{ path('category_new') }}"> Créer </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.label }}</td>
                <td class="actions">
                    <a href="{{ path('category_show', {'id': category.id}) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
