{% extends 'base.html.twig' %}

{% block title %}Ressource{% endblock %}

{% block body %}
    <h1>Ressource</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ressource.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ ressource.label }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ ressource.image }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ ressource.description }}</td>
            </tr>
            <tr>
                <th>Quantité totale</th>
                <td>{{ ressource.quantityTotal }}</td>
            </tr>
        </tbody>
    </table>

    <a class="button hollow primary" href="{{ path('ressource_index') }}">Retour</a>

    <a class="button hollow primary" href="{{ path('ressource_edit', {'id': ressource.id}) }}">Modifier</a>

    {{ include('ressource/_delete_form.html.twig') }}
{% endblock %}
