{% if is_granted('ROLE_USER') %}

    <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium" style="display: none;">
        <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="responsive-menu">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text">MON ADMIN</li>
                <li><a href="{{ path('loan_index') }}">Emprunt</a></li>
                <li><a href="{{ path('group_index') }}">Groupe</a></li>
                <li><a href="{{ path('category_index') }}">Category</a></li>
                <li><a href="{{ path('user_index') }}">User</a></li>
                <li><a href="{{ path('ressource_index') }}">Ressource</a></li>
            </ul>
        </div>
        <div class="top-bar-right">
            <a href="{{ path('logout') }}" class="logout">Se déconnecter</a>
        </div>
    </div>

{% endif %}